{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Limbic Technologies </title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="{% static 'movie/https://fonts.googleapis.com' %}">

    <link rel="preconnect" href="{% static 'movie/https://fonts.gstatic.com' %}" crossorigin>

    <link href="{% static 'movie/https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400 & display=swap' %}" rel="stylesheet">

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/tooplate-clean-work.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'movie/css/bootstrap.min.css' %}">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'movie/css/bootstrap-icons.css' %}">
    <!-- <link href="css/bootstrap-icons.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'movie/css/tooplate-clean-work.css' %}">
    <!-- <link href="css/tooplate-clean-work.css" rel="stylesheet"> -->

    <!--

Tooplate 2132 Clean Work

https://www.tooplate.com/view/2132-clean-work

Free Bootstrap 5 HTML Template

-->
    <style>
        .banner-section {
            background-image: url("{% static 'movie/images/six.jpg' %}");
        }
        /*         
        .h1 {
            height: 500px;
            width: 1000px;
        } */
        /*          style="color: white;"  */
    </style>
</head>

<body>

    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-house-fill me-2"></i> Development Services
                    </p>

                    <p class="d-flex d-lg-block d-md-block d-none me-4 mb-0">
                        <i class="bi-clock-fill me-2"></i>
                        <strong class="me-2">Mon - Sat</strong> 10:30 AM - 7:00 PM
                    </p>

                    <p class="site-header-icon-wrap text-white d-flex mb-0 ms-auto">
                        <i class="site-header-icon bi-whatsapp me-2"></i>

                        <a href="tel: 110-220-9800" class="text-white">
                            +91-9131015627
                            </a>
                    </p>
                </div>

            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/index/">
                {% comment %} <img src="images/bubbles.png" class="logo img-fluid" alt=""> {% endcomment %}
                <img src="{% static 'movie/images/download.jpeg' %}" class="logo img-fluid" alt="Image Description">

                <span class="ms-2 brand">Limbic Technologies</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallary/">Portfolio</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink"> -->
                    <li class="nav-item"><a class="nav-link" href="/service/">Our Services</a></li>

                    <!-- <li><a class="dropdown-item" href="/comming_soon/">Coming Soon</a></li>

                    <li><a class="dropdown-item" href="/page_404/">Page 404</a></li>
                </ul>
                </li> -->


                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carrier/">Career</a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn custom-btn-bg-white btn" href="/index/">Get started</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>

        <section class="hero-section hero-section-full-height d-flex justify-content-center align-items-center">
            <div class="section-overlay"></div>

            <div class="h1">
                <img src="{%static 'movie/images/kk.jpeg' %} " alt=" " style="height: 650px; width: 700px;">
            </div>
            <div class="container ">
                <div class="row ">

                    <div class="col-lg-7 col-12 text-center mx-auto ">
                        <h1 class="cd-headline rotate-1 text-white mb-4 pb-2 ">
                            <span>Build a future you <span style="color: yellow; ">believe in</span>
                            </span>
                            <!-- <span class="cd-words-wrapper ">
                                <b class="is-visible ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web Application</b>
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web Development </b>
                                <b>Application Development</b>
                                </span> -->
                        </h1>

                        <a class="custom-btn btn button button--atlas smoothscroll me-3 " href="#intro-section ">
                            <span>APPLY NOW</span>

                            <div class="marquee " aria-hidden="true ">
                                <div class="marquee__inner ">
                                    <span>APLLY NOW</span>
                                    <span>APLLY NOW</span>
                                    <span>APLLY NOW</span>
                                    <span>APLLY NOW</span>
                                </div>
                            </div>
                        </a>

                        <a class="custom-btn custom-border-btn custom-btn-bg-white btn button button--pan smoothscroll " href="/service/ ">
                            <span>SEE ALL FIELDS</span>
                        </a>
                    </div>

                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg " viewBox="0 0 1440 320 "><path fill="#ffffff " fill-opacity="1 " d="M0,224L40,229.3C80,235,160,245,240,250.7C320,256,400,256,480,240C560,224,640,192,720,176C800,160,880,160,960,138.7C1040,117,1120,75,1200,80C1280,85,1360,139,1400,165.3L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z "></path></svg>
        </section>


        <section class="intro-section" id="intro-section">
            <div class="container">
                <div class="row justify-content-lg-center align-items-center">

                    <div class="col-lg-6 col-12">
                        <h2 class="mb-4">
                            <h1>
                                <span style="color: yellow;">JOIN US </span>
                            </h1>
                        </h2><br>
                        <h2>Shape the future of technology</h2>

                        <p><a href="#">limbic technologies</a>As a global company with unparalleled scale, a track record of pioneering innovation, and a huge and influential client base, we offer associates a chance to drive change and improve the lives
                            of millions of people around the world.
                            <a rel="nofollow" href="https://www.freepik.com/" target="_blank"></a>
                            <a rel="nofollow" href="https://worldvectorlogo.com/" target="_blank"></a>
                        </p>
                        <p>You <strong>may not</strong> Please <a href="https://www.tooplate.com/contact" target="_blank">contact us</a> for more info. Thank you.</p>
                    </div>

                    <div class="col-lg-6 col-12 custom-block-wrap">
                        <img src="{% static 'movie/images/shu.jpg' %}" width="700px" height="500px" class="img-fluid" alt="Image Description"> {% comment %} <img src="images/male-wearing-apron-female-white-t-shirt-smiling-broadly-being-glad-clean.png"
                            class="img-fluid"> {% endcomment %}

                        <div class="custom-block d-flex flex-column">
                            <h6 class="text-white mb-3"> Need Help? <br> Please call us:</h6>

                            <p class="d-flex mb-0">
                                <i class="bi-telephone-fill custom-icon me-2"></i>

                                <a href="tel: 110-220-9800">
                                        +91-9131015627
                                    </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="services-section section-padding section-bg" id="services-section">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <h2 class="mb-4">Our best offers</h2>
                    </div>
                </div>
                {% for carrer in carrer_data %}
                <div class="services-thumb " style=" padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 30px;
                    padding-right: 30px;">
                    <div class="col-lg-6 col-6 ">
                        <div class="services-thumb " style="width: 1300px;height: 200px; padding-top: 18px; padding-bottom: 0px; padding-left: 30px; padding-right: 30px; margin-bottom: 0px;margin-bottom: -5px;">
                            <div class="row d-flex">
                                <div class="col-lg-5 col-md-5 col-12 " style="width: 350px;">
                                    <div class="services-image-wrap ">
                                        <a href="/services_details/ ">

                                            <img src="{% static 'movie/images/' %}{{ carrer.image_path }}" alt=" " style="width: 200px;height: 150px; margin-top: 5px; padding-top: 2px; ">

                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center " style="width: 70%;">
                                    <div class="services-info mt-lg-0 mt-md-0 ">
                                        <h4 class="services-title mb-1 mb-lg-2 ">
                                            <a class="services-title-link " href="/services_details/ ">{{ carrer.job_title }}</a>
                                        </h4>
                                        <p>
                                            {{ carrer.Job_Description }}
                                        </p>
                                    </div>
                                    <a href="/carrier/{{ carrer.id }}" style="margin:20px; padding:20px; float:right;">
                                        <button class="custom-btn btn button button--atlas ms-auto" style=" border:2px solid lightskyblue; background-color: navy; height: 50px; width: 180px; color: white; margin:30px;padding:10px float:right">
                                    <span style=" color: white; ">APPLY NOW</span>
                                    </button>

                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- </div> -->
                <!-- <div class="col-lg-6 col-12 ">
                    <div class="services-thumb " style="width: 1300px;height: 200px; ">
                        <div class="row d-flex">
                            <div class="col-lg-5 col-md-5 col-12 " style="width: 350px;">
                                <div class="services-image-wrap ">
                                    <a href="/services_details/ ">

                                        <img src="{% static 'movie/images/images.jpeg' %} " alt=" " style="width: 220px;height: 200px;; ">

                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center " style="width: 70%;">
                                <div class="services-info mt-lg-0 mt-md-0 ">
                                    <h4 class="services-title mb-1 mb-lg-2 ">
                                        <a class="services-title-link " href="/services_details/ ">Web Developer</a>
                                    </h4>
                                    <p>As a web developer, there are several key areas of knowledge and skills that you should focus on to be successful in your field. Some of these include:


                                    </p>
                                </div>
                                <a href="/web/">
                                    <button class="custom-btn btn button button--atlas ms-auto" style=" border:2px solid lightskyblue; background-color:navy; height: 50px; width: 180px; color: white;">
                                    <span style=" color: white; ">APPLY NOW</span>
                                    </button>

                                </a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 ">
                    <div class="services-thumb " style="width: 1300px;height: 200px; ">
                        <div class="row d-flex">
                            <div class="col-lg-5 col-md-5 col-12 " style="width: 350px;">
                                <div class="services-image-wrap ">
                                    <a href="/services_details/ ">

                                        <img src="{% static 'movie/images/m.png' %} " alt=" " style="width: 200px;height: 180px; margin: 10px;   padding: 10px;">

                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center " style="width: 70%;">
                                <div class="services-info mt-lg-0 mt-md-0 ">
                                    <h4 class="services-title mb-1 mb-lg-2 ">
                                        <a class="services-title-link " href="/services_details/ ">Application Development</a>
                                    </h4>
                                    <p>application development involves creating applications that adapt to different screen sizes and devices, ensuring that users have a seamless experience no matter what device they are using.
                                    </p>
                                </div>
                                <a href="/product/">
                                    <button class="custom-btn btn button button--atlas ms-auto" style=" border:2px solid lightskyblue; background-color: navy; height: 50px; width: 180px; color: white;">
                                    <span style=" color: white; ">APPLY NOW</sapn>
                                    </button>

                                </a>
                            </div>


                        </div>
                    </div>
                </div> -->
                <!--/-->
            </div>
            </div>
            </div>



        </section>
    </main>

    <footer class="site-footer ">
        <div class="container ">
            <div class="row ">

                <div class="col-lg-12 col-12 d-flex align-items-center mb-4 pb-2 ">
                    <div>
                        <img src="{%static 'movie/images/download.jpeg' %} " class="logo img-fluid " alt=" ">
                    </div>

                    <ul class="footer-menu d-flex flex-wrap ms-5 ">
                        <li class="footer-menu-item "><a href="/about/" class="footer-menu-link ">About Us</a></li>

                        <li class="footer-menu-item "><a href="/carrier/" class="footer-menu-link ">Blog</a></li>

                        <li class="footer-menu-item "><a href="/index/" class="footer-menu-link ">Reviews</a></li>

                        <li class="footer-menu-item "><a href="/contact/" class="footer-menu-link ">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-12 mb-4 mb-lg-0 ">
                    <h5 class="site-footer-title mb-3 ">Our Services</h5>

                    <ul class="footer-menu ">
                        <li class="footer-menu-item ">
                            <a href="# " class="footer-menu-link ">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2 "></i> Web Development
                            </a>
                        </li>

                        <li class="footer-menu-item ">
                            <a href="# " class="footer-menu-link ">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2 "></i> Leadership
                            </a>
                        </li>

                        <li class="footer-menu-item ">
                            <a href="# " class="footer-menu-link ">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2 "></i> Web Application
                            </a>
                            </a>
                        </li>

                        <li class="footer-menu-item ">
                            <a href="# " class="footer-menu-link ">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2 "></i> Application Development
                            </a>
                        </li>

                        <li class="footer-menu-item ">
                            <a href="# " class="footer-menu-link ">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2 "></i> Training/Internship
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0 ">
                    <h5 class="site-footer-title mb-3 ">Office</h5>

                    <p class="text-white d-flex mt-3 mb-2 ">
                        <i class="bi-geo-alt-fill me-2 "></i>EMS House,KI,block 10,Zone-1,Maharana Pratap Nagar,Bhopal,Madhya Pradesh 462023
                    </p>

                    <p class="text-white d-flex mb-2 ">
                        <i class="bi-telephone-fill me-2 "></i>

                        <a href="tel: 110-220-9800 " class="site-footer-link ">
                            +91-9131015627
                            </a>
                    </p>

                    <p class="text-white d-flex ">
                        <i class="bi-envelope-fill me-2 "></i>

                        <a href="mailto:info@company.com " class="site-footer-link ">
                            limbictechnologies@gmail.com
                            </a>
                    </p>

                    <ul class="social-icon mt-4 ">
                        <li class="social-icon-item ">
                            <a href="# " class="social-icon-link button button--skoll ">
                                <span></span>
                                <span class="bi-twitter "></span>
                            </a>
                        </li>

                        <li class="social-icon-item ">
                            <a href="# " class="social-icon-link button button--skoll ">
                                <span></span>
                                <span class="bi-facebook "></span>
                            </a>
                        </li>

                        <li class="social-icon-item ">
                            <a href="# " class="social-icon-link button button--skoll ">
                                <span></span>
                                <span class="bi-instagram "></span>
                            </a>
                        </li>

                        <li class="social-icon-item ">
                            <a href="# " class="social-icon-link button button--skoll ">
                                <span></span>
                                <span class="bi-linkedin "></span>
                            </a>/
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-6 mt-3 mt-lg-0 mt-md-0 ">
                    <div class="featured-block ">
                        <h5 class="text-white mb-3 ">Service Hours</h5>

                        <strong class="d-block text-white mb-1 ">Mon - Sat</strong>

                        <p class="text-white mb-3 ">10:30 AM - 7:00 PM</p>

                        <strong class="d-block text-white mb-1 ">Sun- Closed</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom ">
            <div class="container ">
                <div class="row ">

                    <div class="col-lg-6 col-12 ">
                        <p class="copyright-text mb-0 "> Limbic Technology. All Rights Reserved<br> <span style="color:blue ">Designed by Limbictechnologies</span></p>

                    </div>

                    <div class="col-lg-6 col-12 text-end ">
                        <p class="copyright-text mb-0 ">
                            // Designed by <a href="https://www.tooplate.com " target="_parent ">limbictechnologies</a> //</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- JAVASCRIPT FILES -->
    <!-- <script src="js/jquery.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/jquery.backstretch.min.js "></script>
    <script src="js/counter.js "></script>
    <script src="js/countdown.js "></script>
    <script src="js/init.js "></script>
    <script src="js/modernizr.js "></script>
    <script src="js/animated-headline.js "></script>
    <script src="js/custom.js "></script> -->
    <script src="{% static 'movie/js/jquery.backstretch.min.js' %} "></script>
    <!-- <script src="js/counter.js "></script>
    <script src="js/countdown.js "></script>
    <script src="js/init.js "></script>
    <script src="js/modernizr.js "></script>
    <script src="js/animated-headline.js "></script>
    <script src="js/custom.js "></script> -->
    <!-- <script src="js/jquery.min.js "></script> -->
    <script src="{% static 'movie/js/jquery.min.js' %} "></script>
    <!-- <script src="js/bootstrap.min.js "></script> -->
    <script src="{% static 'movie/js/bootstrap.min.js' %} "></script>
    <!-- <script src="js/jquery.backstretch.min.js "></script> -->
    <script src="{% static 'movie/js/counter.js' %} "></script>
    <!-- <script src="js/counter.js "></script> -->
    <script src="{% static 'movie/js/countdown.js' %} "></script>
    <!-- <script src="js/countdown.js "></script> -->
    <script src="{% static 'movie/js/init.js' %} "></script>
    <!-- <script src="js/init.js "></script> -->
    <script src="{% static 'movie/js/modernizr.js' %} "></script>
    <!-- <script src="js/modernizr.js "></script> -->
    <script src="{% static 'movie/js/animated-headline.js' %} "></script>
    <!-- <script src="js/animated-headline.js "></script> -->
    <!-- <script src="js/custom.js "></script> -->
    <script src="{% static 'movie/js/custom.js' %} "></script>

</body>

</html>

</html>